<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3 - Problema con Passwords</title>
</head>

<body>
    <div id="aplicacion">
        <p>
            Ingrese password: <input type="password" v-model="password">
            <br>
            Repita password: <input type="password" v-model="passwordRepetir">
        </p>

        <p v-if="password===passwordRepetir">
            Las contraseñas coinciden
        </p>
        <p v-else>
            Las contraseñas no coinciden
        </p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x.x/dist/vue.js"></script>

    <script>
        var app = new Vue({
            el: '#aplicacion',
            data: {
                password: 'x',
                passwordRepetir: 'y'
            }
        });
    </script>
</body>

</html>
