<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3 - Problema con Passwords</title>
</head>
<body>
    <p>
        Ingrese password: <input type="password" v-model="password">
        <br>
        Repita password: <input type="password" v-model="passwordRepetir">
    </p>
    
    <template v-if="password == passwordRepetir">
        <p>Las contraseñas coinciden</p>
        <span>Puede continuar</span>
    </template>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x.x/dist/vue.js"></script>

    <script>
        var app = new Vue({
            el: 'body',
            data: {
                password: '',
                passwordRepetir: ''
            }
        });
    </script>
</body>
</html>
