<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <style>
        input {
            margin-bottom: 10px;
            display: block;
        }
    </style>
</head>

<body>
    <div id="aplicacion">
        <login-form></login-form>
    </div>

    <script src="https://unpkg.com/vue@3"></script>

    <script>
        let app = Vue.createApp({
            data() {
                return {
                    greeting: 'Hello World',
                    isVisible: false
                }
            }
        });

        app.component('login-form', {
            template: `
                <h2>{{title}}</h2>
                <form @submit.prevent="handleSubmit">
                    
                    <custom-input :type='input.type' v-for="input in inputs" :label="input.label" v-model="input.value"></custom-input>
                    
                    <button type="submit">Login</button>
                </form>
            `,
            components: ['custom-input'],
            data() {
                return {
                    title: 'Login Form',
                    email: 'asdfad@gmasd.com',
                    password: '',
                    emailLabel: 'Email',
                    passwordLabel: 'Password',
                    inputs: [
                        {
                            'label': 'Email',
                            'value': '',
                            'type': 'email'
                        },
                        {
                            'label': 'Password',
                            'value': '',
                            'type': 'password'
                        }
                    ]
                }
            },
            methods: {
                handleSubmit() {
                    console.log('Form submitted');
                    console.log(this.email);
                    console.log(this.password);
                }
            }
        });

        app.component('custom-input', {
            props: ['label', 'type', 'modelValue'],
            template: `
                <label>
                    {{label}}
                    <input :type="type" v-model="inputValue">
                </label>
            `,
            computed: {
                inputValue: {
                    get() {
                        return this.modelValue;
                    },
                    set(value) {
                        this.$emit('update:modelValue', value);
                    }
                }
            },
            // data() {
            //     return {
            //         inputValue: ''
            //     }
            // }
        });

        app.mount('#aplicacion');
    </script>
</body>

</html>
